*{
    box-sizing: border-box;  
}

.wrap{
    height: 70vh;
}

.cart{
    width: 260px;
    height: 440px;
    padding: 10px;
    margin: 100px auto;
    border: 2px rgb(230, 230, 230) solid;
    border-radius: 15px;
    box-shadow: 40px 50px 15px 35px rgb(211, 211, 211);
}

.cart_title{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}

.cart_cost{
    font-size: 18px;
    margin-top: 10px;
    opacity: 0.8;
}

.cart_cost > span{
    font-size: 20px;
    color: orange;
    margin-left: 57px;
}

.cart_amount{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px grey solid;
    border-radius: 50px;
    outline: none;
}

.cart_btn{
    display: block;
    margin: 2px auto 0px auto;
    padding: 5px;
    font-size: 15px;
    border-radius: 45%;
    border: none;
    outline: none;
    cursor: pointer;
    width: 30%;
    background-color: green;
    color: white;
}